body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #eff1f5;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.controls label {
    font-weight: bold;
    color: #333;
}

.controls input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fffbfb;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #a0b8d2;
}

.header {
    background-color: #007bff;
    color: rgb(0, 0, 0);
}

.subtotal, .total {
    font-weight: bold;
}

.subtotal {
    background-color: #8ad7fd;
}

.resul {
    background-color: #8ad7fd;
}


.total {
    background-color: #007bff;
    color: white;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-group button:hover {
    background-color: #007bff;
}


@media (max-width: 768px) {
    .controls input {
        width: 90%;
    }

    table {
        font-size: 10px;
    }
}
