body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eff1f5;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.controls label {
    font-weight: bold;
    color: #333;
}

.controls input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

table {
    margin-top: 20px;
    width: 100%;  /* Asegura que la tabla ocupe el 100% del ancho del contenedor */
    border-collapse: collapse;
    background-color: #fffbfb;
    margin-bottom: 30px;
    box-sizing: border-box; /* Incluye padding y border dentro del cálculo del ancho */
}

th, td {
    border: 1px solid #000;
    padding: 8px;  /* Aumenta el padding para mejorar la legibilidad */
    text-align: center;
}

#valores {
    width: 100%;            /* Asegura que la tabla ocupe todo el ancho disponible */
    table-layout: fixed;    /* Hace que todas las celdas tengan el mismo ancho */
}

#valores td {
    text-align: left;
    width: 25%;             /* Asigna el 25% del ancho total a cada celda */
}


th {
    background-color: #a0b8d2;
}

.header {
    background-color: #007bff;
    color: rgb(0, 0, 0);
}

.subtotal, .total {
    font-weight: bold;
}

.subtotal {
    background-color: #8ad7fd;
}

.resul {
    background-color: #8ad7fd;
}

.total {
    background-color: #007bff;
    color: white;
}

.btn-group, .btn-group-1 {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-group-1 button {
    flex: 1; /* Hace que cada botón ocupe el mismo espacio */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-group button:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-group-1 button:hover {
    background-color: #0056b3;
    color: #fff;
}


#depósito {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Dos columnas: la primera más pequeña para los labels, la segunda más ancha para los inputs */
    gap: 20px 75px; /* Espacio entre filas (20px) y columnas (15px) */
    margin: 0 auto; /* Centra el formulario */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}


#formDeposito {
    width: 100%;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Cada label y input estarán en columnas separadas */
    gap: 10px; /* Espacio entre el label y el input */
}

#formDeposito label {
    text-align: left; /* Asegura que el texto del label esté alineado a la izquierda */
}

#formDeposito input, 
#formDeposito textarea {
    padding: 10px;
    width: 100%; /* Asegura que los inputs ocupen todo el ancho de su celda */
    max-width: 100%; /* Hace que el input no se estire demasiado */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

#formDeposito textarea {
    width: 100%;
}

.disco, .pasajeros, .valores, .cumplimiento {
    display: none;
}

/* Estilo general para el contenedor del select */
#cooperativaSelect {
    padding: 8px 12px;  /* Añade espacio dentro del select */
    font-size: 16px;  /* Tamaño de la fuente */
    border: 1px solid #ccc;  /* Borde gris claro */
    border-radius: 4px;  /* Bordes redondeados */
    background-color: #fff;  /* Fondo blanco */
    color: #333;  /* Color del texto */
    transition: border-color 0.3s ease;  /* Transición suave para el borde */
}

/* Estilo para las opciones dentro del select */
#cooperativaSelect option {
    padding: 8px 12px;  /* Espaciado de las opciones */
    background-color: #fff;  /* Fondo blanco para las opciones */
    color: #333;  /* Color de texto */
}



@media (max-width: 768px) {
    .controls input {
        width: 90%;
    }

    table {
        font-size: 10px;
    }
}
