<link rel="stylesheet" href="/css/styleHeader.css">
<header>
    <nav id="miNav">
        <ul>
            <li id="licon">
                <a href="homeAdmin.html">
                  <img height="40px" width="40px" src="/images/logo.ico" alt="Icono">
                </a>
              </li>
            <li><a href="/views/diario.html">Reporte Diario</a></li>
            <li><a href="/views/semanal.html">Reporte Semanal</a></li>
            <li><a href="/views/mensual.html">Reporte Mensual</a></li>
            <li><a href="#" onclick="cargarSeccion('usuarios')">Gestión de Usuarios</a></li>
            <li><a href="#" onclick="cargarSeccion('operadoras')">Gestión de Operadoras</a></li>
            <li><a href="../index.html" onclick="logout()">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
