<link rel="stylesheet" href="/css/styleHeader.css">
<header>
    <nav id="miNav">
        <ul>
            <li id="licon">
                <a href="homeAdmin.html">
                  <img height="40px" width="40px" src="/images/logo.ico" alt="Icono">
                </a>
              </li>
              
            <li><a href="/views/reportes.html">Reportes</a></li>
<!--             <li><a href="#" onclick="cargarSeccion('usuarios')">Gestión de Usuarios</a></li>
            <li><a href="#" onclick="cargarSeccion('frecuencias')">Gestión de Frecuencias</a></li> -->
            <li><a href="../index.html" onclick="logout()">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
