<link rel="stylesheet" href="/css/styleHeader.css">
<header>
    <nav id="miNav">
        <ul>
            <li id="licon"><img height="40px" width="40px" margin="0" src="/images/logo.ico" alt="" srcset=""></li>
            <li>
                <a href="#Informe" onclick="generarInformeDiario()" id="informe">
                    <img src="../images/pddf.ico" alt="Icono de Informe" style="width:16px; height:16px; vertical-align:middle; margin-right:5px;">
                    Informe Diario
                </a>
            </li>            
            <li><a href="../index.html" onclick="logout()">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
