<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <title>Administrador</title>
    <script defer src="/models/render.js"></script> <!-- Script de renderizado dinámico -->
    <script src="/models/getInfo.js"></script> 
    <link rel="stylesheet" href="/css/styleHomeAdmin.css">
</head>
<body>
    <div id="header"></div> <!-- Header dinámico -->
    <br><br>
    <p id="userDisplay"></p>

    <main>
        <h1>Panel de Administración</h1>   
    </main>

    
</body>
<footer>
    <div id="footer"></div>
</footer>
</html>
